<!-- wp:template-part {"slug":"header","theme":"coporate","tagName":"header","className":"blog-gap0"} /-->


    <!-- wp:pattern {"slug":"corporate/banner"} /-->
    <!-- wp:pattern {"slug":"corporate/home-full-service"} /-->
    <!-- wp:pattern {"slug":"corporate/home-our-solution"} /-->
    <!-- wp:pattern {"slug":"corporate/home-web-agency"} /-->
    <!-- wp:pattern {"slug":"corporate/home-customer-case"} /-->
    <!-- wp:pattern {"slug":"corporate/home-stay-good"} /-->
    <!-- wp:pattern {"slug":"corporate/home-contactform"} /-->
   
   
<!-- wp:template-part {"slug":"footer","theme":"coporate","tagName":"footer","className":"blog-gap0"} /-->